In [1]:
import pandas as pd

In [2]:
melb_file_path = 'C:/Users/LENOVO/melb_data.csv.zip'
melb_data = pd.read_csv(melb_file_path)
melb_data = melb_data.dropna(axis=0)
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [3]:
y = melb_data.Price
y.describe()

count    6.196000e+03
mean     1.068828e+06
std      6.751564e+05
min      1.310000e+05
25%      6.200000e+05
50%      8.800000e+05
75%      1.325000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [4]:
melb_features = ['Bedroom2', 'Bathroom', 'Car']
X = melb_data[melb_features]
X.describe()

          Bedroom2     Bathroom          Car
count  6196.000000  6196.000000  6196.000000
mean      2.902034     1.576340     1.573596
std       0.970055     0.711362     0.929947
min       0.000000     1.000000     0.000000
25%       2.000000     1.000000     1.000000
50%       3.000000     1.000000     1.000000
75%       3.000000     2.000000     2.000000
max       9.000000     8.000000    10.000000

In [5]:
X.head()

   Bedroom2  Bathroom  Car
1       2.0       1.0  0.0
2       3.0       2.0  0.0
4       3.0       1.0  2.0
6       4.0       2.0  0.0
7       2.0       1.0  2.0

In [6]:
from sklearn.tree import DecisionTreeRegressor


melbourne_model = DecisionTreeRegressor(random_state=1)

melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [7]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Bedroom2  Bathroom  Car
1       2.0       1.0  0.0
2       3.0       2.0  0.0
4       3.0       1.0  2.0
6       4.0       2.0  0.0
7       2.0       1.0  2.0
The predictions are
[ 973382.53012048 1485147.72727273  979650.         1650293.5483871
  813160.2735426 ]

In [8]:
from sklearn.metrics import mean_absolute_error
predicted_home_price = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_price)

357515.81481790513

In [10]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

melbourne_model = DecisionTreeRegressor()

melbourne_model.fit(train_X, train_y)

val_predictions = melbourne_model.predict(val_X)

print(mean_absolute_error(val_y, val_predictions))

390305.85804437235

In [12]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    
    return(mae)

In [13]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  405434
Max leaf nodes: 50  		 Mean Absolute Error:  389800
Max leaf nodes: 500  		 Mean Absolute Error:  390305
Max leaf nodes: 5000  		 Mean Absolute Error:  390305

In [14]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)

melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

387924.90748410806